body { 
	background-color: #F5F5DC;
	overflow: scroll;
}

#container {
	margin: 0 auto;
	width: 960px;
}

header {
	background-color: #8FBC8F;
	color: #F5F5DC;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

h1{
	padding-left: 35px;
}

a.home,a.home:hover {
	color: #F5F5DC;
}

a {
	text-decoration: none;
	color: #8FBC8F;
}

a:hover {
	color: #708090;
}

/*navigation*/

nav ul li{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
}

nav ul li a{
	text-decoration: none;
	color: #F5F5DC;
}

nav ul li a:hover,
nav ul li a:active {
	color: #FFE4C4;
}


/*content, main*/

#content {
	background-color: #F8F8F8;
	padding: 10px 20px;
}

main {
	width: 500px;
	float: left;
}

/*sidebar*/

aside {
	width: 200px;
	float: right;
	padding-left: 20px;
	border-left: 1px dotted;
}


/* comment forms*/

form.form{
	border: double;
	width: 380px;
	background-color: #F0FFF0;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 20px;
}

label,
input[type=submit] {
	display: block;
}

input,
textarea {
	margin-bottom: 15px;
}

/*search form*/

form.search{
	float: right;
	margin-top: -60px;
	margin-right: 40px;
}

form.search input[type=text]{
	width: 200px;
}


/*button previous page/ next page*/
.button{
	background-color: #548CCB;
	padding: .25em;
	display: inline-block;
	color: #FFF;
}

a.button:hover {
	color: #80FF80;
}

.disabled.button{
	background-color: #808080;
	color: #FFF;
}


footer {
	clear: both;
}